.tababys {
  margin-left: 100px;
  width: 800px;
}
.tababys h1 {
  margin-bottom: 146px;
}

/* Style the tab */
.tab {
  max-height: 610px;
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#dvtext {
  display: none;
}

#chkPres:checked ~ #dvtext {
  display: block;
}

#dvtext1 {
  display: none;
}

#chkVirtual:checked ~ #dvtext1 {
  display: block;
}