@font-face {
  font-family: "zippy_book";
  src: url(/fonts/zippy_book.ttf) format("truetype");
}
@font-face {
  font-family: "zippy_bold";
  src: url(/fonts/zippy_bold.ttf) format("truetype");
}
@font-face {
  font-family: "zippy_light";
  src: url(/fonts/zippy_light.ttf) format("truetype");
}
@font-face {
  font-family: "zippy_medium";
  src: url(/fonts/zippy_medium.ttf) format("truetype");
}
footer {
  background-color: rgba(232, 230, 218, 0.25);
  padding-bottom: 0px !important;
  padding-top: 48px;
}
footer ul {
  color: #7F7F7F;
  padding-left: 48px;
  list-style-type: none;
}
footer ul .body1-1 {
  color: #7F7F7F;
}
footer ul li {
  color: #7F7F7F;
}
footer ul li a {
  color: #7F7F7F;
}
footer ul li a:hover {
  color: black;
}
footer #site-language {
  color: #7F7F7F;
  font-size: 14px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 24px;
}
footer .signature {
  background-color: rgba(232, 230, 218, 0.5);
  text-align: center;
  margin-top: 24px;
  padding-bottom: 6px;
  padding-top: 6px;
}
footer .signature #signature {
  color: #7F7F7F;
}
footer .apad li {
  padding-bottom: 24px;
}