@font-face {
  font-family: "zippy_book";
  src: url(/fonts/zippy_book.ttf) format("truetype");
}
@font-face {
  font-family: "zippy_bold";
  src: url(/fonts/zippy_bold.ttf) format("truetype");
}
@font-face {
  font-family: "zippy_light";
  src: url(/fonts/zippy_light.ttf) format("truetype");
}
@font-face {
  font-family: "zippy_medium";
  src: url(/fonts/zippy_medium.ttf) format("truetype");
}
footer {
  background-color: rgba(232, 230, 218, 0.2);
  padding-bottom: 0px !important;
  padding-top: 48px;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  font-size: 14px;
}
footer ul li a {
  color: #7f7f7f;
}
footer ul li a:hover {
  color: black;
}
footer #site-language {
  font-size: 14px;
  padding-bottom: 6px;
  padding-top: 6px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
footer .signature {
  color: #999;
  background-color: rgba(232, 230, 218, 0.5);
  text-align: center;
  margin-top: 24px;
  padding-bottom: 6px;
  padding-top: 6px;
  font-size: 12px;
}