.body1 {
  background-image: url("../img/partilha.png");
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;
  }

  .apadleft1{
    padding-left: 4px;
}

.numeros{
  margin-right: 5px;
}

.container1 {
 // margin: 0 0 100px px;
  padding-bottom: 20px;
}

.cabecalho {
  background-color: #F8F8F8;
  margin-top: 10px;
}
.navenvio {
  width: 42px;
  height: 14px;
  margin: 3px 14px 3px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.titulos1{
  height: 25px;
  margin: 25px 0 25px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: 0.5px;
  text-align: left;
  color: #4e4e4e;
}

  .campos1 {
  //  width: 276px;
  //  height: 19px;
    margin: 10px 0 15px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: normal;
    text-align: left;
    color: #4e4e4e;
    padding: 0  !important;
  }

  .containermessage {
    width: 580px;
    height: 60px;
    margin: 23px 0 0;
    border: solid 1px rgba(0, 0, 0, 0.1);
  }

  .containerquickanswer1 {
    border: solid 1px #dbd9d9;
    padding: 0 !important;
  }

  .camposobrigatorios1 {
    //width: 986px;
    //height: 98px;
    //margin: 41px 31px 31px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.4px;
    //text-align: left;
    color: #7f7f7f;
    text-align: left;
  }

  .camposobrigatorios2 {
    //width: 986px;
    //height: 98px;
    margin: 0 31px 35px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.4px;
    //text-align: left;
    color: #7f7f7f;
    text-align: left;
  }

  .camposobrigatorios3 {
    //width: 986px;
    //height: 98px;
    // margin: 0 0 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    //letter-spacing: 0.4px;
    text-align: left;
    color: #7f7f7f;
  }

  .camposobrigatorios4 {
    //width: 986px;
    //height: 98px;
    margin: 41px 31px 31px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    //letter-spacing: 0.4px;
    text-align: right;
    color: #7f7f7f;
    >input{
      margin-right: 4px;
    }
  }

  .continuarbutton { 
    width: 219px;
    height: 36px;
    background-color: #ed282d;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border: #ed282d;
    margin-top: 100px;
    margin-bottom: 75px;  
   
  }

  .datalimite {
   // padding: 50px 26px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    color: #4e4e4e;
    padding: 80px 0 50px 0;
  }

  .datalimite1 {
  //  padding: 0 26px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    color: #7f7f7f;
  }

  