@import 'variables';

footer{
    background-color: rgba(232,230,218,.2);
    padding-bottom: 0px !important;
    padding-top: $gridgutter * 2;
    ul{
        padding-left: $gridgutter * 2;
        list-style-type: none;
        li{
            font-size: 14px;
            a{
                color: #7f7f7f;
                &:hover {
                    color: black;
                }
            }
        }
        
    }
    #site-language{
        font-size: 14px;
        padding-bottom: $gridgutter / 4;
        padding-top: $gridgutter / 4;
        padding-left: $gridgutter;
    }
    .signature{
        color: #999;
        background-color: rgba(232,230,218,.5);
        text-align: center;
        margin-top: $gridgutter;
        padding-bottom: $gridgutter/4;;
        padding-top: $gridgutter/4;
        font-size: 12px;
    }
}
