@import 'variables';
footer {
    background-color: rgba(232, 230, 218, 0.25);
    padding-bottom: 0px !important;
    padding-top: $gridgutter * 2;
    ul {
        color: #7F7F7F;
        padding-left: $gridgutter * 2;
        list-style-type: none;
        & .body1-1 {
            color: #7F7F7F;
        }
        li {
            color: #7F7F7F;
            a {
                color: #7F7F7F;
                &:hover {
                    color: black;
                }
            }
        }
    }
    #site-language {
        color: #7F7F7F;
        font-size: 14px;
        padding-bottom: $gridgutter / 4;
        padding-top: $gridgutter / 4;
        padding-left: $gridgutter;
    }
    .signature {
        background-color: rgba(232, 230, 218, .5);
        text-align: center;
        margin-top: $gridgutter;
        padding-bottom: $gridgutter/4;
        padding-top: $gridgutter/4;
        & #signature {
            color: #7F7F7F;
        }
    }
    .apad {
        & li {
            padding-bottom: $gridgutter;
        }
    }
}