form{
    margin-bottom: $gridgutter / 2;
    input{
        box-sizing: border-box;
        width: 100%;
        background-color: transparent;
        border:1px solid $gray;
        padding: 0 $gridgutter / 2;
        height: $gridgutter * 1.5;
        line-height: $gridgutter * 1.5;
        &::placeholder {
            color: $gray;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: $gray;
        }
        &::-ms-input-placeholder {
            color: $gray;
        }
    }
    button{
        cursor: pointer;
        box-sizing: border-box;
        width: 100%;
        color: $white;
        background-color: $graydark;
        border:none;
        padding: 0 $gridgutter / 2;
        text-transform: uppercase;
        height: $gridgutter * 1.5;
        line-height: $gridgutter * 1.5;
    }
}