@import 'variables';
body {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    >header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        border-bottom: 1px solid $graylight;
        font-family: "zippy_book";
        font-size: 12px;
        nav {
            justify-content: space-between;
            #logo {
                padding-left: $gridgutter * 1.5;
                display: inline-flex;
                align-items: center;
                >.logoZippy {
                    height: 40px;
                }
            }
            >ul {
                padding: $gridgutter/2;
                list-style-type: none;
                margin: 0;
                align-content: center;
                li {
                    display: inline-block;
                    a {
                        padding: $gridgutter/2;
                        display: inline-block;
                        text-transform: uppercase;
                        font-size: $gridgutter/2;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #7f7f7f;
                    }
                }
            }
        }
    }
}

#shopping-cart {
    padding-right: 4px;
}

.shadow {
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1);
}

#onSale {
    color: #ed282d;
}

#stepByStep {
    color: #ed282d;
}