@font-face {
    font-family: '#{$icomoon-font-family}';
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?rqwo5a');
    src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?rqwo5a#iefix') format('embedded-opentype'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?rqwo5a') format('truetype'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?rqwo5a') format('woff'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?rqwo5a##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icn-"], [class*=" icn-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

  .icn-arrows {
    &:before {
      content: $icn-arrows; 
      color: #ed282d;
    }
  }

  .icn-facebook {
    &:before {
      content: $icn-facebook; 
    }
  }

  .icn-instagram {
    &:before {
      content: $icn-instagram; 
    }
  }
  .icn-pinterest {
    &:before {
      content: $icn-pinterest; 
    }
  }
  .icn-message {
    &:before {
      content: $icn-message; 
    }
  }
  .icn-local {
    &:before {
      content: $icn-local; 
      color: #ed282d;
    }
  }
  .icn-search {
    color: #ed282d;
    &:before {
      content: $icn-search; 
    }
  }
  .icn-shopping-cart {
    color: #ed282d;
    &:before {
      content: $icn-cart; 
    }
  }
  .icn-shipping {
    &:before {
      content: $icn-shipping; 
      color: #ed282d;
    }
  }
  .icn-world {
    &:before {
      content: $icn-world; 
    }
  }
  .icn-profile {
    color: #ed282d;
    &:before {
      content: $icn-profile; 
    }
  }
  .icn-c {
    &:before {
      content: $icn-c; 
    }
  }
  .icn-close {
    &:before {
      content: $icn-close; 
    }
  }

  .icn-chevron {
    font-size: 25px;
    color: #ed282d;
    &:before {
      content: $icn-chevron; 
    }

  }.icn-n1 {
    font-size: 25px;
    color: #ed282d;
    &:before {
      content: $icn-n1; 
    }

  }.icn-n2 {
    font-size: 25px;
    color: #ed282d;
    &:before {
      content: $icn-n2; 
    }
  }

  .icn-bin {
    color: #ed282d;
    &:before {
      content: $icn-bin; 
    }
  }

  .icn-edit {
    color: #ed282d;
    &:before {
      content: $icn-edit; 
    }
  }

  .icn-info {
    color: #ed282d;
    &:before {
      content: $icn-info; 
    }
  }