.product-list{
    .product-card{
        @extend .marginverticalfull;
        &-image{
            position: relative;
            background-color: $gray;
            &-badge{
                @extend .white;
                @extend .bg-primary;
                padding: $gridgutter / 8 $gridgutter / 4;
                text-transform: uppercase;
                position: absolute;
                top: $gridgutter / 3;
                left: $gridgutter / 3;
                font-size: 0.7rem;
                z-index: 3;
            }
            img{
                @extend .animate;
                opacity: 0.6;
            }
        }
        &:hover{
            .product-card-image{
                img{
                    opacity: 1;
                }
            }
        }
    }
}
#headerproductlist{
    height: 30vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imgs/slider/slider01-small.jpg);
    @media(min-width: $tablet){
        background-image: url(../imgs/slider/slider01-medium.jpg);
    }
    @media(min-width: $desktop){
        background-image: url(../imgs/slider/slider01.jpg);
    }
    .textoverlay{
        @extend .textcenter;
        background-color: rgba($black, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white;
        height: 30vh;
        h1{
            font-size: 3rem;
            margin-bottom: $gridgutter;
        }
        p{
            @extend .marginnone;
        }
    }
}

#sortbar{
    align-items: center;
    box-shadow: 0 0 10px $gray;
    line-height: $gridgutter * 2;
    select{
        border: 1px solid darken($white, 10%);
        height: $gridgutter * 1.2;
        padding: 0 $gridgutter / 3;
        margin-left: $gridgutter / 3;
    }
    & p{
        margin: 0;
    }
}
#mainproductlist{
    padding: 0;
}
#filters{
    margin-top: 12px;
    .categories{
        margin: 0;
        padding-left: $gridgutter / 2;
        display:none;
        &.open{
            display: block;
        }
        @media(min-width: $tablet){
            display: block;
        }
        list-style-type: none;
        > li{
            > a {
                display: block;
                position: relative;
            }
            
            &.open{
                > a{
                    .icn-chevron-up{
                        display: block;
                    }
                    .icn-chevron-down{
                        display: none;
                    }
                }
                > ul{
                    display: block;
                }
            }
        }
    }
    .sizes{
        display: none;
        &.open{
            display: block;
        }
        @media(min-width: $tablet){
            display: block;
        }
        .sizebtns{
            display: flex;
            justify-content: space-between;
            button{
                @extend .fancytext;
                @extend .animate;
                cursor: pointer;
                width: $gridgutter*1.2;
                text-align: center;
                line-height: $gridgutter;
                border: 1px solid darken($white, 10%);
                background-color: $white;
                &:hover{
                    background-color: darken($white, 10%);
                    border-color: darken($white, 30%);
                }
            }
        }
    }
}


//Collapsibles

.collapsible1 {
    display: block;
    color: #7f7f7f;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    position: relative;
    background-color: $white !important;
    > span{
        position: absolute;
        right: 4px;
    }

    & ul{
        margin:0;
        padding: 0;
        text-indent: 0;
        list-style-type: 0;
        list-style: none;
        list-style-image: none;
        background-color: $white;
  } 
  
  .active, .collapsible:hover {
    background-color: $white;

  }
  
  .content1 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: $white;
    margin: 0;
  }
}