.product-list {
    .product-card {
        @extend .marginverticalfull;
        &-image {
            position: relative;
            background-color: $gray;
            &-badge {
                @extend .white;
                @extend .bg-primary;
                padding: $gridgutter / 8 $gridgutter / 4;
                text-transform: uppercase;
                position: absolute;
                top: $gridgutter / 3;
                left: $gridgutter / 3;
                font-size: 0.7rem;
                z-index: 3;
            }
        }
    }
}

#headerproductlist {
    height: 30vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imgs/slider/slider01-small.jpg);
    @media(min-width: $tablet) {
        background-image: url(../imgs/slider/slider01-medium.jpg);
    }
    @media(min-width: $desktop) {
        background-image: url(../imgs/slider/slider01.jpg);
    }
    .textoverlay {
        @extend .textcenter;
        background-color: rgba($black, 0.6);
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white;
        height: 30vh;
        h1 {
            font-size: 3rem;
            margin-bottom: $gridgutter;
        }
        p {
            @extend .marginnone;
        }
    }
}

#sortbar {
    align-items: center;
    line-height: $gridgutter * 2;
    select {
        border: 1px solid darken($white, 10%);
        height: $gridgutter * 1.2;
        padding: 0 $gridgutter / 3;
        margin-left: $gridgutter / 3;
    }
    & p {
        margin: 0;
    }
}

#mainproductlist {
    padding: 0;
}

#filters {
    margin-top: 12px;
    .categories {
        margin: 0;
        padding-left: $gridgutter / 2;
        display: none;
        &.open {
            display: block;
        }
        @media(min-width: $tablet) {
            display: block;
        }
        list-style-type: none;
        >li {
            >a {
                display: block;
                position: relative;
            }
            &.open {
                >a {
                    .icn-chevron-up {
                        display: block;
                    }
                    .icn-chevron-down {
                        display: none;
                    }
                }
                >ul {
                    display: block;
                }
            }
        }
    }
    .sizes {
        display: none;
        &.open {
            display: block;
        }
        @media(min-width: $tablet) {
            display: block;
        }
        .sizebtns {
            display: flex;
            justify-content: space-between;
            button {
                @extend .fancytext;
                @extend .animate;
                cursor: pointer;
                width: $gridgutter*1.2;
                text-align: center;
                line-height: $gridgutter;
                border: 1px solid darken($white, 10%);
                background-color: $white;
                &:hover {
                    background-color: darken($white, 10%);
                    border-color: darken($white, 30%);
                }
            }
        }
    }
}

//Collapsibles
.collapsible1 {
    display: block;
    color: #7f7f7f;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    position: relative;
    background-color: $white !important;
    >span {
        position: absolute;
        right: 4px;
        &:before {
            content: "+";
        }
    }
    &.active {
        >span::before {
            content: "-";
        }
    }
    & ul {
        margin: 0;
        padding: 0;
        text-indent: 0;
        list-style-type: 0;
        list-style: none;
        list-style-image: none;
        background-color: $white;
    }
}

.content1 {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: $white;
    margin: 0;
    &.active {
        background-color: $white;
        display: block;
    }
}

.margintopbig {
    margin-top: $gridgutter * 7 !important;
}

.button-quick-view {
    flex-grow: 0;
    padding: 7px 3px 6px;
    border: solid 0.5px rgba(127, 127, 127, 0.7);
    background-color: #ffffff;
}

.quick-view {
    text-align: center;
    margin-top: 18px;
}

// MODAL
.modal {
    @extend .animate;
    position: fixed;
    z-index: 10010;
    opacity: 0;
    top: -100vh;
    background-color: rgba($black, 0.8);
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    &-container {
        @extend .animate;
        box-sizing: border-box;
        background-color: #ffffff;
        box-shadow: 0 0 $gridgutter / 2 $gridgutter / 8 rgba($black, 0.6);
        margin: 100vh auto $gridgutter;
        padding: $gridgutter / 2 0;
        width: 519px;
        height: 522px;
    }
    &-open {
        top: 0;
        opacity: 1;
        .modal-container {
            margin: $gridgutter auto;
            @media(min-width: $tablet) {
                margin: $gridgutter * 4.5 auto $gridgutter;
            }
        }
    }
}