#banner-heading {
    color: #ffffff
}

#product-description {
    & h5 {
        color: #221f20;
    }
    & #description {
        color: #7f7f7f;
    }
    & #ref {
        color: #7f7f7f;
    }
    & #sizeLanguage {
        color: #221f20;
    }
    & .button-size {
        color: #7f7f7f;
    }
    & .color {
        color: #221f20;
        margin-top: $gridgutter / 4;
        margin-bottom: $gridgutter / 4;
        text-align: left;
    }
}

.flow {
    height: 14px;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    >a {
        font-stretch: normal;
    }
}

.apadleft {
    padding-left: 36px;
}

.color-dots {
    height: $gridgutter;
    width: $gridgutter;
    background-color: #454545;
    border-radius: 50%;
    display: inline-block;
    border: solid 3px #dadada;
}

.size {
    margin-top: $gridgutter / 4;
    margin-bottom: $gridgutter / 4;
    text-align: left;
    padding-left: $gridgutter / 2;
}

.button-size1 {
    width: 114px;
    height: 36px;
    margin: 12px 13px 0px 0px;
    padding: 7px 10.9px 7px 10.9px;
    border: solid 1px #e8e6da;
    background-color: #e8e6da;
    text-align: center;
    cursor: pointer;
}

.button-size {
    width: 114px;
    height: 36px;
    margin: 12px 13px 0px 0px;
    padding: 7px 10.9px 7px 10.9px;
    border: solid 1px #e8e6da;
    background-color: white;
    text-align: center;
    cursor: pointer;
    &.active2 {
        font-weight: bold;
        border: solid 1px #e8e6da;
        background-color: #e8e6da;
    }
}

.sizeguide {
    width: 119px;
    height: 22px;
    text-align: left;
    padding-top: $gridgutter / 2;
    padding-bottom: $gridgutter * 2;
    text-decoration: underline;
}

.button-list {
    width: 219px;
    height: 36px;
    background-color: #ed282d;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border: #ed282d;
}

.lists {
    margin-bottom: 40px;
}

.nopadleft {
    padding-left: 0px !important;
}

.buylook {
    color: #221f20;
    margin-top: $gridgutter * 2;
    margin-bottom: $gridgutter / 2;
}

.newsletter {
    margin-top: $gridgutter * 7.5;
    margin-bottom: $gridgutter * 2.5;
    justify-content: center;
    p {
        color: #7f7f7f;
        margin-bottom: $gridgutter * 2;
    }
    & button {
        margin-top: $gridgutter / 2;
        border: solid 1px #ed282d;
        background-color: #ed282d;
    }
}

.shareicons {
    padding-left: $gridgutter / 4;
}

.image-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.product-card {
    & .subtitle2 {
        color: #221f20;
    }
}

//Collapsibles
.collapsible {
    margin-bottom: $gridgutter * 3 / 4;
    background-color: #E8E6DA;
    display: block;
    color: #7f7f7f;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    position: relative;
    >span {
        position: absolute;
        right: 4px;
        &:before {
            content: "+";
        }
    }
    &.active {
        >span::before {
            content: "-";
        }
    }
}

.content {
    background-color: #E8E6DA;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: $white;
    margin: 0;
    &.active {
        background-color: $white;
        display: block;
    }
}

//Quantity tool under
.quantity {
    display: inline-flex;
    margin-top: $gridgutter / 4;
    margin-bottom: $gridgutter / 4;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.3px;
    text-align: left;
    color: #221f20;
}

.quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor: pointer;
}

.quantity.buttons_added .minus {
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}