@font-face{
    font-family: 'zippy_book';
    src: url(/fonts/zippy_book.ttf) format('truetype');
}

@font-face{
    font-family: 'zippy_bold';
    src: url(/fonts/zippy_bold.ttf) format('truetype');
}

@font-face{
    font-family: 'zippy_light';
    src: url(/fonts/zippy_light.ttf) format('truetype');
}

@font-face{
    font-family: 'zippy_medium';
    src: url(/fonts/zippy_medium.ttf) format('truetype');
}


$titlesfont: "zippy_bold";
$titlesfontweights: "bold";
$bodyfont: "zippy_book";
$bodyfontweights: "normal";

$primary: #f5d71f;
$secondary: #ff7425;
$graydark: #333;
$gray: #747474;
$graylight: #F3F3F3;
$white: #FFF;
$black: #000;

$animationtime: 0.4s;

$tablet: 750px;
$desktop: 1200px;
$gridcolumns: 12;
$gridgutter: 24px;

$gridwidth: 100%;
$gridwidtht: 90%;
$gridwidthd: $desktop - $gridgutter;

$icomoon-font-family: "icons-zippy" !default;
$icomoon-font-path: "../fonts" !default;

$icn-arrows: "\e90e";
$icn-facebook: "\e905";
$icn-pinterest: "\e90c";
$icn-instagram: "\e907";
$icn-message: "\e909";
$icn-search: "\e90b";
$icn-local: "\e908";
$icn-shipping: "\e903";
$icn-shopping-cart: "\e904";
$icn-world: "\e901";
$icn-profile: "\e900";
$icn-c: "\e902";
$icon-highlight: "\e906";