@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hp9d3b');
  src:  url('fonts/icomoon.eot?hp9d3b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hp9d3b') format('truetype'),
    url('fonts/icomoon.woff?hp9d3b') format('woff'),
    url('fonts/icomoon.svg?hp9d3b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Asset-13 .path1:before {
  content: "\e901";
  color: rgb(230, 46, 49);
}
.icon-Asset-13 .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(251, 253, 255);
}
.icon-Asset-12:before {
  content: "\e903";
  color: #e62e31;
}
.icon-Asset-10:before {
  content: "\e905";
  color: #7f8080;
}
.icon-facebook:before {
  content: "\e907";
  color: #3d5a99;
}
.icon-profile:before {
  content: "\e908";
  color: #e62e31;
}
.icon-shipping:before {
  content: "\e909";
  color: #e62e31;
}
.icon-local:before {
  content: "\e90c";
  color: #e62e31;
}
.icon-arrows .path1:before {
  content: "\e90a";
  color: rgb(127, 128, 128);
}
.icon-arrows .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(230, 46, 49);
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-pinterest .path1:before {
  content: "\e90e";
  color: rgb(255, 255, 255);
}
.icon-pinterest .path2:before {
  content: "\e910";
  margin-left: -0.9990234375em;
  color: rgb(227, 5, 30);
}
.icon-shopping-cart:before {
  content: "\e90f";
  color: #e62e31;
}
.icon-close:before {
  content: "\e906";
}
.icon-world:before {
  content: "\e904";
}
